
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  color: #fff;
  min-height: 100vh;
}

.app-container {
  display: flex;
  padding: 20px;
  gap: 24px;
}

